.card-detail__image {
  max-width: 430px;
  max-height: 430px;
  object-position: center;
  object-fit: contain;
  margin: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1712px) {
  .card-detail__image {
    max-height: 300px;
  }
}

@media screen and (max-width: 1506px) {
  .card-detail__image {
    max-width: 500px;
    max-height: 700px;
  }
}

@media screen and (max-width: 600px) {
  .card-detail__image {
    max-width: 300px;
    max-height: 400px;
    margin-right: 0;
  }
}

@media screen and (max-width: 400px) {
  .card-detail__image {
    max-width: 200px;
    max-height: 260px;
    margin-right: 0;
  }
}