.logo__pic_place_footer {
  width: 84px;
  height: 71px;
  margin: 0;
  margin-right: 12px;
}

@media screen and (max-width: 1279px) {
  .logo__pic_place_footer {
    width: 59px;
    height: 50px;
  }
}
/*
@media screen and (max-width: 767px) {
  .footer__links {
    flex-direction: column;
    width: calc(100% - 16px*2);
  }
}