.header__title {
  max-width: 630px;
  font-weight: normal;
  font-size: 64px;
  line-height: 76px;
  color: white;
  margin: 300px 0 60px 0;
}

@media screen and (max-width: 1279px) {
  .header__title {
    margin: 150px 0 60px 0;
  }
}

@media screen and (max-width: 767px) {
  .header__title {
    font-size: 48px;
    line-height: 60px;
    margin: 60px 0 40px 0;
  }
}

/*
@media screen and (max-width: 1279px) {
  .header {
    margin: 28px auto 48px auto;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    width: calc(100% - 24px*2);
  }
}

@media screen and (max-width: 767px) {
  .header {
    width: calc(100% - 16px*2);
    margin: 16px auto 48px auto;
  }
}

